# phpStorm
/.idea

# Build tools
/build/bin
/build/buildlang
/build/phingext
/build/tools

# Symlinked files/folders into the component tree
/component/ars.xml
/component/cli/*.xml

# Composer managed dependencies (run `composer install` after git pull)
/component/backend/vendor

# Release files
/release

# Temporary stuff
/*.txt

# Internal language symlinks
component/language/*/en-GB
modules/*/*/language/en-GB
plugins/*/*/language/en-GB
