<?xml version="1.0" encoding="UTF-8"?>
<!--
  @package   AkeebaReleaseSystem
  @copyright Copyright (c)2010 Nicholas K. Dionysopoulos
  @license   GNU General Public License version 3, or later
-->
<config addfieldpath="/administrator/components/com_ars/elements">
    <fieldset name="updatestream" label="COM_ARS_CONFIG_BACKEND_UPDATESTREAM_LABEL"
              description="COM_ARS_CONFIG_BACKEND_UPDATESTREAM_DESC">

        <field name="updates_name" type="text" default="Downloads"
               label="COM_ARS_CONFIG_UPDATES_NAME_LABEL"
               description="COM_ARS_CONFIG_UPDATES_NAME_DESC"
        />

        <field name="updates_desc" type="text" default="My Downloads"
               label="COM_ARS_CONFIG_UPDATES_DESC_LABEL"
               description="COM_ARS_CONFIG_UPDATES_DESC_DESC"
        />
    </fieldset>

    <fieldset name="frontend" label="COM_ARS_CONFIG_FRONTEND_HEADER_LABEL"
              description="COM_ARS_CONFIG_FRONTEND_HEADER_DESC"
              addformpath="/administrator/components/com_ars/elements">

        <field name="@spacer" type="spacer" default="" label="" description=""/>

        <field name="begenchangelog" type="radio" default="1"
               label="COM_ARS_CONFIG_BEGENCHANGELOG_LABEL"
               description="COM_ARS_CONFIG_BEGENCHANGELOG_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="becolorisechangelog" type="radio" default="1"
               label="COM_ARS_CONFIG_BECOLORISECHANGELOG_LABEL"
               description="COM_ARS_CONFIG_BECOLORISECHANGELOG_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="@spacer" type="spacer" default="" label="" description=""/>

        <field name="no_access_url" type="text" default="" label="COM_ARS_CONFIG_FE_NOACCESSURL_LABEL"
               description="COM_ARS_CONFIG_FE_NOACCESSURL_DESC" size="50"/>

        <field name="show_downloads" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_DOWNLOADS_LABEL"
               description="COM_ARS_CONFIG_SHOW_DOWNLOADS_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="show_filesize" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_FILESIZE_LABEL"
               description="COM_ARS_CONFIG_SHOW_FILESIZE_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="show_md5" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_MD5_LABEL"
               description="COM_ARS_CONFIG_SHOW_MD5_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="show_sha1" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_SHA1_LABEL"
               description="COM_ARS_CONFIG_SHOW_SHA1_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="show_environments" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_ENVIRONMENTS_LABEL"
               description="COM_ARS_CONFIG_SHOW_ENVIRONMENTS_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="show_directlink" type="radio" default="1"
               label="COM_ARS_CONFIG_SHOW_DIRECTLINK_LABEL"
               description="COM_ARS_CONFIG_SHOW_DIRECTLINK_DESC">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="directlink_extensions" type="text" default="zip,tar,tar.gz"
               label="COM_ARS_CONFIG_DIRECTLINKEXTENSIONS_LABEL" description="COM_ARS_CONFIG_DIRECTLINKEXTENSIONS_DESC"
               size="50"/>
        <field name="directlink_description" type="text" default="" label="COM_ARS_CONFIG_DIRECTLINKDESCRIPTION_LABEL"
               description="COM_ARS_CONFIG_DIRECTLINKDESCRIPTION_DESC" size="50"/>
    </fieldset>

    <fieldset name="backend" label="COM_ARS_CONFIG_BACKEND_HEADER_LABEL"
              description="COM_ARS_CONFIG_BACKEND_HEADER_DESC" addformpath="/administrator/components/com_ars/elements">

        <field name="graphswidth" type="list" default="8"
               label="COM_ARS_CONFIG_BACKEND_GRAPHSWIDTH_LABEL"
               description="COM_ARS_CONFIG_BACKEND_GRAPHSWIDTH_LABEL">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </field>

        <field name="banUnauth" type="radio" default="0"
               label="COM_ARS_CONFIG_BAN_FAILED_LABEL"
               description="COM_ARS_CONFIG_BAN_FAILED_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>

    <fieldset
            name="s3integration"
            label="COM_ARS_CONFIG_S3INTEGRATION_HEADER_LABEL"
            description="COM_ARS_CONFIG_S3INTEGRATION_HEADER_DESC">

        <field name="s3access" type="text" default="" label="COM_ARS_CONFIG_S3_ACCESSKEY_LABEL"
               description="COM_ARS_CONFIG_S3_ACCESSKEY_DESC" size="50" filter="raw"/>

        <field name="s3secret" type="password" default="" label="COM_ARS_CONFIG_S3_SECRETKEY_LABEL"
               description="COM_ARS_CONFIG_S3_SECRETKEY_DESC" size="50" filter="raw"/>

        <field name="s3ssl" type="list" default="1" label="COM_ARS_CONFIG_S3_SSL_LABEL"
               description="COM_ARS_CONFIG_S3_SSL_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="s3bucket" type="text" default="" label="COM_ARS_CONFIG_S3_BUCKET_LABEL"
               description="COM_ARS_CONFIG_S3_BUCKET_LABEL"/>

        <field name="s3method" type="list" default="v2" label="COM_ARS_CONFIG_S3_METHOD_LABEL"
               description="COM_ARS_CONFIG_S3_METHOD_DESC">
            <option value="v2">COM_ARS_CONFIG_S3_SIGNATURE_V2</option>
            <option value="v4">COM_ARS_CONFIG_S3_SIGNATURE_V4</option>
        </field>

        <field name="s3region" type="list" default="us-east-1"
               label="COM_ARS_CONFIG_S3_REGION_LABEL"
               description="COM_ARS_CONFIG_S3_REGION_DESC">
            <option value="">COM_ARS_CONFIG_S3_REGION_NONE</option>
            <option value="us-east-1">COM_ARS_CONFIG_S3_REGION_USEAST1</option>
            <option value="us-east-2">COM_ARS_CONFIG_S3_REGION_USEAST2</option>
            <option value="us-west-2">COM_ARS_CONFIG_S3_REGION_USWEST2</option>
            <option value="us-west-1">COM_ARS_CONFIG_S3_REGION_USWEST1</option>
            <option value="eu-west-1">COM_ARS_CONFIG_S3_REGION_EUWEST1</option>
            <option value="eu-west-2">COM_ARS_CONFIG_S3_REGION_EUWEST2</option>
            <option value="eu-central-1">COM_ARS_CONFIG_S3_REGION_EUCENTRAL1</option>
            <option value="eu-central-2">COM_ARS_CONFIG_S3_REGION_EUCENTRAL2</option>
            <option value="ap-southeast-1">COM_ARS_CONFIG_S3_REGION_APSE1</option>
            <option value="ap-southeast-2">COM_ARS_CONFIG_S3_REGION_APSE2</option>
            <option value="ap-northeast-1">COM_ARS_CONFIG_S3_REGION_APNE1</option>
            <option value="ap-northeast-2">COM_ARS_CONFIG_S3_REGION_APNE2</option>
            <option value="sa-east-1">COM_ARS_CONFIG_S3_REGION_SAEAST1</option>
            <option value="sa-east-2">COM_ARS_CONFIG_S3_REGION_SAEAST2</option>
            <option value="sa-west-1">COM_ARS_CONFIG_S3_REGION_SAWEST1</option>
            <option value="sa-west-2">COM_ARS_CONFIG_S3_REGION_SAWEST2</option>
        </field>

        <field name="s3rrs" type="list" default="0" label="COM_ARS_CONFIG_S3_RRS_LABEL"
               description="COM_ARS_CONFIG_S3_RRS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="s3perms" type="list" default="private"
               label="COM_ARS_CONFIG_S3_PERMS_LABEL"
               description="COM_ARS_CONFIG_S3_PERMS_DESC">
            <option value="private">COM_ARS_CONFIG_S3_PERMS_PRIVATE</option>
            <option value="public-read">COM_ARS_CONFIG_S3_PERMS_PUBLIC_READ</option>
            <option value="public-read-write">COM_ARS_CONFIG_S3_PERMS_PUBLIC_READ_WRITE</option>
            <option value="authenticated-read">COM_ARS_CONFIG_S3_PERMS_ACL_AUTHENTICATED_READ</option>
            <option value="bucket-owner-read">COM_ARS_CONFIG_S3_PERMS_ACL_BUCKET_OWNER_READ</option>
            <option value="bucket-owner-full-control">COM_ARS_CONFIG_S3_PERMS_ACL_BUCKET_OWNER_FULL_CONTROL</option>
        </field>

        <field name="s3time" type="list" default="900"
               label="COM_ARS_CONFIG_S3_TIME_LABEL" desc="COM_ARS_CONFIG_S3_TIME_DESC">
            <option value="60">COM_ARS_CONFIG_S3_TIME_1MINUTE</option>
            <option value="900">COM_ARS_CONFIG_S3_TIME_15MINUTES</option>
            <option value="3600">COM_ARS_CONFIG_S3_TIME_1HOUR</option>
            <option value="21600">COM_ARS_CONFIG_S3_TIME_6HOURS</option>
            <option value="43200">COM_ARS_CONFIG_S3_TIME_12HOURS</option>
            <option value="86400">COM_ARS_CONFIG_S3_TIME_1DAY</option>
            <option value="604800">COM_ARS_CONFIG_S3_TIME_7DAYS</option>
            <option value="2592000">COM_ARS_CONFIG_S3_TIME_1MONTH</option>
        </field>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_ars"
                section="component"/>
    </fieldset>
</config>
