<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- Joomla! 1.5 compatible configuration -->
	<params>
		<!-- XML Update Streams (compatible with Joomla! 1.6) -->
		<param name="updates_name" type="text" default="Downloads"
			label="ARS_CONFIG_UPDATES_NAME_LABEL"
			description="ARS_CONFIG_UPDATES_NAME_DESC"
		/>
		<param name="updates_desc" type="text" default="My Downloads"
			label="ARS_CONFIG_UPDATES_DESC_LABEL"
			description="ARS_CONFIG_UPDATES_DESC_DESC"
		/>

		<param name="antileech" type="radio" default="1" label="ARS_CONFIG_ANTILEECH_LABEL" description="ARS_CONFIG_ANTILEECH_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
</config>